.git
.github
.agents
.codex
.env
.eslintignore
.eslintrc
 
.prettierrc.json
.vscode
Dockerfile*
docker-compose*.yml
node_modules
dist
logs
*.log
firebase.json
*.postman_collection.json
README.md
SECURITY.md
